.image{
    width: 150px;
    height: 90px;
    margin-left: 15px;
}

.titre{
    text-align: center;
}

.sujet {
    text-align:right;
}
.sous-titre1{
    text-align:right;
    padding-top: 27px;
    padding-right: 8px;
    padding-left: 5px;
}
.sous-titre2{
    text-align:right;
    padding-top: 30px;
    padding-right: 8px;
    padding-left: 5px;
}
.form-control{
    width: 300px;
    height: 30px;
}

.tt{
    padding: 0 0 600px 0;
    height: 650px;
    width: 1010px;
    margin-left: 5px;
    
}
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
.form > div{
    padding-bottom: 20px;
}

input {
    width: 850px;
    margin-left: 20px;
}
.doc{
    height: 100px;
}

.btns{
    margin-top: 100px;
    margin-left: 200px;
}
.left{
    text-align:left;
    margin-left: 30px;
}
.date{
    margin-top: 10px;
}