<div class="card m-3">
  <img src="./assets/img/logo.jpg" class="image" >
  
  <div class="card-body">
      <form >
          <div class="form-row" class="titre">
              <h1>مذكرة</h1>
          </div>
              
          <table class="table table-bordered" >
            <tr> 
              <td> <input type="text" class="form-control" placeholder="................"
                lang="ar" dir="rtl" > </td>
               <h4 class="sujet">    الموضوع   </h4>
          </tr>
          <tr>
            <td> <input type="text" class="form-control" placeholder="................"
              lang="ar" dir="rtl" > </td>
            <h4 class="sujet"> المرفقات</h4>
          </tr>
        </table>

                <div class="form-row" class="tt">
                      <textarea lang="ar" 
                       dir="rtl" formControlName="title" class="tt"  >
                       </textarea>
                  
              </div>

              <div class="text-center">
                <input type = "button" class="btn btn-primary mr-1" value = "telecharger pdf"  (click) = "captureScreen ()"/>
                <button class="btn btn-primary mr-1" (click)="suivant()">Suivant</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
              
            </div>
               
          
            

              </form>


      </div>
</div>