.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cards {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardChange{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.card-body{
    height: 400px;
}
label{
    color: rgb(49, 47, 47);
}