<html>
    
<div class='card'>
    <div class="card-header card-header-info">
        <h4 class="card-title ">Liste des cadres</h4>
        <p class="card-category"></p>
    </div>

    <div class='card-body' >
        <div class="row">
            <div class="col-3">   
        
            <input [(ngModel)]="listFilter" type="text"  class="form-control" placeholder="Typer pour filter">
        
            </div>
            <div class="col">
                <button class="btn btn-info" (click)="openDialog()">ajouter un cadre</button>
            </div>
        </div>
        <div class="table table-hover">
            <table class='table'>
                <thead>
                <tr>
                    <th>id</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>grade</th>
                    <th>fonction</th>                    
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr 
                *ngFor="let cadres of filteredCadres | slice:startindex:endindex ">
                    <td>{{ cadres.id }}</td>
                    <td>{{ cadres.nom }}</td>
                    <td>{{ cadres.prenom }}</td>
                    <td>{{ cadres.grade }}</td>
                    <td>{{ cadres.fonction }}</td>
                    
                    <td >
                        
                        <button  class="btn btn-info" (click)="openDialog()" (click)="edit($event)" [value]="cadres.id" >
                           MODIFIER </button>
                         
                            
                       
                        
                                
                       
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Modal -->


        <div class="card-footer text-muted text-right">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link"  aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li *ngFor="let i of getarray(nb); let in = index" class="page-item">
                      <button  class="page-link" (click)="updateindex(in)">{{in+1}}</button>
                    </li>
                    <li class="page-item">
                        <button class="page-link"   aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </button>
                      </li>
                  
                </ul>
              </nav>
           
        </div>
    </div>
    
       

</div>

