
   <div class="content">
      
   
      <div class="card">
        <a  [routerLink]="['/dashboard/dossiervisite']"  (click)="typeMission()">
            
            <div class="icon"><i class="material-icons md-36" >face</i></div>
            <p class="title">Mission</p>
            <p class="text">click pour remplir un dossier.</p>
         </a>
      </div>
    
      <div class="card">
        <a  [routerLink]="['/dashboard/dossiervisite']" (click)="typeFormation()">
            <div class="icon"><i class="material-icons md-36">alternate_email</i></div>
            <p class="title">Formation</p>
            <p class="text">click pour remplir un dossier.</p>
        </a>
         
      </div>
      
   

   



