<h2 mat-dialog-title>{{Org}}</h2>
<mat-dialog-content class="mat-typography">
  
<form>  
    <div class="form-row">
        <div class="form-group col-md-6 ">
            <label for="inputEmail4"  >Nom de l'organisme</label>
            <input type="text" class="form-control" [(ngModel)]="organisme.libelle" name="nom"
             placeholder="Nom">
          </div>

    </div>
   
    
    
  </form>
  
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  class="btn " (click)="ajoute()">ajouter</button>
  <button  class="btn btn-warning" (click)="update()">modifier</button>
</mat-dialog-actions>
