<div class='card'>
    <div>
      <button class="btn btn-primary" (click)="exportexcel()">Télécharger</button>
    </div>
    <div class='card-header'>
        
    </div>
    <div class='card-body'>
        <div class="row1">
            <div class="direction">
                <select class="form-control col-sm-8 selectpicker" [(ngModel)]="direction"  id="type" data-live-search="true"  name="direction" (change)="stat3($event)">
                    <option value="selectionner une direction" [disabled]="true">selectionner une direction</option>
                    <option *ngFor="let direction of directions"  [value]="direction.libelle_direction">
                      {{direction.libelle_direction}}
                    </option> 
                  </select>
            </div>
        <div class="organisme">
            <select class="form-control" id="3" [(ngModel)]="organisme" name="organisme_etranger" (change)="stat2($event)">
                <option value="selectionner un organisme" [disabled]="true">selectionner un organisme</option>
                <option *ngFor="let org of organismes"  [value]="org.libelle_org">
                            {{org.libelle_org}}
                </option>
            </select>
        </div>                
        </div>
        
        <div class='table table-hover'>
            <table class='table' id="excel-table">
                <thead>
                <tr > 
                    <th>
                        
                            <div class="col-3">
                                <input  type="text" class="form-control" [(ngModel)]="_listFilter"  name="Input"  id="filterInput" placeholder="Type to filter">
                            </div>
                        
                    </th> 
                    <th *ngFor="let a of listeAnnee">{{a.annee}}</th> 
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let l of filteredCadres | slice:startindex:endindex ">
                    <td>{{l.np}}</td>  
                    <td *ngFor="let l1 of l.tab">{{l1}}</td>  
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted text-right">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link"  aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li *ngFor="let i of getarray(nb); let in = index" class="page-item">
                  <button  class="page-link" (click)="updateindex(in)">{{in+1}}</button>
                </li>
                <li class="page-item">
                    <button class="page-link"   aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </button>
                  </li>
              
            </ul>
          </nav>
       
    </div>
</div>
