.organisme{
    width: 250px;
    float:right;
    margin-right: 50px;
    display : inline-flex;
}
.direction{
    width: 350px;
    //float:right;
    //margin-right: 50px;
    display : inline-flex;
}
.table{
    margin-top: 30px;
}