.image{
  width: 150px;
  height: 70px;
}

.titre{
  text-align: center;
}
.s{
  margin-left: 4px;
}
.e{
  
  margin-left: 460px;
}
.note{
  text-align: right;
}

.h{
  margin-left: 515px;

}
.sujet {
  text-align:right;
}
.form-controll{
  width: 300px;
  height: 30px;
 margin-left: 400px;
}

.number{
  width: 40px;
 
  
}
.label{
  margin-left: 210px;
}

.check{
  margin-left: 210px;
}

.c{
  margin-left: 120px;
}

.d{
 
    padding: 0 0 70px 0;
    
    width: 600px;
    margin-left: 30px;
    
}


.tabrir{
  padding: 0 0 450px 0;
  width: 1050px;
  height: 500px;

}
.table-tabrir{
  border: 1px solid black;
  border-collapse: collapse;
  float: right;
  margin-top: 30px;
  width: 800px;
}
.input-tabrir{
  width: 300px;
}
.date-f{
  margin-right: 400px;
  margin-top: 10px;
}

.titre1{
  margin-left: 30px;
  font-size: large;
  font-weight: bold;
}

.gg{
  width: 500px;
}