<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class="row">
            <div class="col-3">
                <input [(ngModel)]="listFilter" type="text" class="form-control"   id="filterInput" placeholder="Type to filter">
            </div>
            <div class="col">
                <div *ngIf='listFilter' class="form-text text-muted">Filtered by: {{listFilter}}</div>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                <tr>
                    <th style="color:firebrick">id</th>
                    <th>Organisme étrangère</th>
                    <th>type_visite</th>
                    <th>Sujet</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let dossier of filteredDossier'>
                    <td>{{ dossier.id }}</td>
                    <td>{{ dossier.organisme_etranger_id }}</td>
                    <td>{{ dossier.type_visite }}</td>
                    <td>{{ dossier.sujet }}</td>
                    <td>{{ dossier.date_deb }}</td>
                    <td>{{ dossier.date_fin}}</td>
                    <td><i class="material-icons">edit</i><mat-icon>delete</mat-icon></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted text-right">
        <small>Powered by Angular</small>
    </div>
</div>