
<div class='card'>
    <div class="card-header card-header-success">
        <h4 class="card-title ">Liste des Dossiers des visites</h4>
        <p class="card-category"> </p>
    </div>
    <div class='card-body'>
        <div class="row">
            <div class="col-3">
                <input [(ngModel)]="listFilter" type="text" class="form-control"   id="filterInput" placeholder="Type to filter">
            </div>
            <div class="col">
                <div *ngIf='listFilter' class="form-text text-muted">Filtered by: {{listFilter}}</div>
            </div>
        </div>
        <div class="table-responsive">
            <table class='table'>
                <thead class="text-success">
                <tr>
                    <th>numero du dossier</th>
                    <th>Emplacement des documents</th>
                    <th>Organisme étrangère</th>
                    <th>type_visite</th>
                    <th>Sujet</th>
                    <th>Ville</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let dossier of filteredDossier'>
                    <td>{{ dossier.id }}</td>
                    <td>C:\xampp\htdocs\backend_pfe\
                        public\uploads</td>
                    <td>{{ dossier.organisme_etranger_id }}</td>
                    <td>{{ dossier.type_visite }}</td>
                    <td>{{ dossier.sujet }}</td>
                    <td>{{ dossier.ville }}</td>
                    <td>{{ dossier.date_deb }}</td>
                    <td>{{ dossier.date_fin}}</td>
                    <td>{{ dossier.statut }}</td>
                    
                    <td>
                        <button (click)="edit($event)" class="btn btn-success" [value]="dossier.id" >view</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted text-right">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link"  aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li *ngFor="let i of getarray(nb); let in = index" class="page-item">
                  <button  class="page-link" (click)="updateindex(in)">{{in+1}}</button>
                </li>
                <li class="page-item">
                    <button class="page-link"   aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </button>
                  </li>
              
            </ul>
          </nav>
       
    </div>
</div>