<div class="con">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo.jpg" width="150" height="60" class="d-inline-block align-top" alt="">
      
        </a>
      </nav>
<div class="container">
    <mat-card class="card">
            
            <div class="columns">
                <div class="card-image">
                    <img  src="../../assets/img/signin-image.jpg" alt="sing up image">
                </div>
                <mat-card-content class="card-content">
                    <mat-card-title class="title">Sign In</mat-card-title>
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">person</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="text" placeholder="Your UserName" [(ngModel)]="username">
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">https</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="password" placeholder="Your Password" [(ngModel)]="password" (keyup.enter)="login()">
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                        <mat-checkbox value="Remember me" class="link" [(ngModel)]="checkbox" style="font-size: 13px; margin-left: 10px;" (change)="remember()">Remember me</mat-checkbox>
                        <a mat-button class="link" routerLinkActive="active" routerLink="/changePassword" target="_blank"> mot de passe oublié</a>  
                    </div>
                    <mat-card-actions class="actions">
                        <button  type="submit" class="btn" class="btn btn-primary" (click)="login()">Log in</button>
                        
                    </mat-card-actions>
                </mat-card-content> 
            </div>
        
    </mat-card>
    
</div>
</div>
<app-footer></app-footer>