<div class="con">
    <nav class="navbar navbar-light bg-light">
      </nav>
<div class="container">
    <mat-card class="card">
            
            <div class="columns">
                <div class="card-image">
                    <img  class="imgSign"src="../../assets/img/logo.jpg" alt="sing up image">
                </div>
                <mat-card-content class="card-content">
                    <mat-card-title class="title">Bienvenue</mat-card-title>
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">person</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="text" placeholder="Votre nom d'utilisateur " [(ngModel)]="username">
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">https</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="password" placeholder="Votre mot de passe" [(ngModel)]="password" (keyup.enter)="login()">
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group">
                        <mat-checkbox value="rappelez-vous " class="link" [(ngModel)]="checkbox" style="font-size: 13px; margin-left: 10px;" (change)="remember()">Remember me</mat-checkbox> 
                    </div>
                    <mat-card-actions class="actions">
                        <button  type="submit" class="btn" class="btn btn-info" (click)="login()">Connexion</button>
                        
                    </mat-card-actions>
                </mat-card-content> 
            </div>
        
    </mat-card>
    
</div>
</div>
<app-footer></app-footer>