<div class="card m-3" id='bordereau'>
    <table >
     <tr>
     <td>
 <img src="./assets/img/logo.jpg" class="image" > </td>
 <td>
    <div class="right">
 <h5 class="d" >الجمهورية التونسية</h5>
 <label class="e">  وزارة التنمية و الإستثمار و التعاون الدولي   </label>
 <h5 class="f" lang="ar" dir="rtl">المعهد الوطني للإحصاء</h5>
    </div>
</td>
</tr>
</table>

<div class="card-body">

    <div class="form-row" class="titre">
        <h2 lang="ar" dir="rtl">جدول الوثائق الموجهة </h2>
        <h2 lang="ar" dir="rtl"> إلى </h2>
        <h2 lang="ar" dir="rtl">السيد وزير التنمية و الإستثمار و التعاون الدولي</h2>
    </div>
    </div>
    <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="titre" > الملاحظات </th>
                    
                    <th class="titre"> عدد الوثائق</th>
                    <th class="right"   class="titre">بيان الوثائق</th>
                    <th class="right">العدد الرتبي</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                      <td> <textarea  class="form-control" lang="ar" dir="rtl" [(ngModel)]="bordereau.commentaires" name="commentaires">
                        </textarea>
                      </td>
                      <td class="centre" > <input type="number" class="number" [(ngModel)]="bordereau.nbr_documents" name="nbr_documents">  </td>
                      <td class="right">
                        <label >
                       : تقرير مهمة قاما بها
                      </label>
                      <ul>
                        <li *ngFor="let cadre of cadres">{{cadre.prenom}} {{cadre.nom}}</li>
                      </ul>
                      
                        <label >تتعلق بالمشاركة في</label>
                        <input type="text" class="form-control" lang="ar" dir="rtl" [(ngModel)]="sujet" name="sujet">
                        <label >  و ذلك خلال الفترة من</label>
                      <input type="date" class="form-control" lang="ar" dir="rtl" [(ngModel)]="date_deb" name="date_deb">
                      <label >
                        إلى
                  </label>
                  <input type="date" class="form-control" lang="ar" dir="rtl" [(ngModel)]="date_fin" name="date_fin">
                      <td>
                        <input type="number" class="number" [(ngModel)]="bordereau.numero_de_rang" name="numero_de_rang">
                      </td>
                      
                      

                  </tr>
                  <tr>

                   <td></td>
                   <td class="centre" > <input type="number" class="number" [(ngModel)]="bordereau.nbr_documents" name="nbr_documents">  </td>
                   <td class="titre" colspan="2">
                    <label >
                        الجملة
                  </label>
                </td>
                  
                  </tr>
                  
                   
                    
                </tbody>
              </table>
              <div class="right">
                      <input type="date" class="date" lang="ar" dir="rtl" [(ngModel)]="bordereau.date_documents" name="date_documents">
                      <label>توصلت بالوثائق المذكورة أعلاه
                        تونس،في
                         </label>
                </div>
              <div>
                <input type="date" class="date" lang="ar" dir="rtl" [(ngModel)]="bordereau.date_bordereau" name="date_bordereau">
              </div>
    </div>
</div>
<div class="text-center">
  <input type = "button" class="btn btn-info" value = "telecharger pdf"  (click) = "download()"/>
  <button class="btn btn-success"  (click)="newBordereau()">Ajouter </button>
  <button class="btn btn-warning"  (click)="editBordereau()">Modifier </button>
  <button class="btn btn-danger"  (click)="deleteBordereau()">Supprimer</button>
  <button class="btn btn-primary mr-1"  (click)="terminer()">Terminer</button>
  </div>