
 <h1 class="display-2 hidden-xs-down" >
    Choisir Votre Type De Dossier
</h1>

   
   <div class="content">
      <!-- card -->
      <div class="card">
        <a  [routerLink]="['/dashboard/dossiervisite']">
            
            <div class="icon"><i class="material-icons md-36" >face</i></div>
            <p class="title">Mission</p>
            <p class="text">click pour remplir un dossier.</p>
         </a>
      </div>
      <!-- end card -->
      <!-- card -->
      
      <!-- card -->
      <div class="card">
        <a  [routerLink]="['/dashboard/dossiervisite']">
            <div class="icon"><i class="material-icons md-36">alternate_email</i></div>
            <p class="title">Formation</p>
            <p class="text">click pour remplir un dossier.</p>
        </a>
         
      </div>
      <!-- end card -->
   

   



