<div class="container">
    <mat-card class="card">
            <mat-card-title class="title">Changer Mot de Passe</mat-card-title>
            <div class="columns">
                <mat-card-content class="card-content">
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">person</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="text" placeholder="Your UserName"  [(ngModel)]="user.username" name="username">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">https</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="text" placeholder="Your Password"  [(ngModel)]="user.password" name="password">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-icon aria-hidden="false"  class="icon">lock</mat-icon>
                        <mat-form-field class="input">        
                            <input matInput type="text" placeholder="Repeat your password" >
                        </mat-form-field>
                    </div>
                </mat-card-content>
            
                <div class="card-image">
                    <img  src="../../assets/img/signup-image.jpg" alt="change password image">
                </div>
            </div>
        <mat-card-actions class="actions">
            <button  type="submit" class="btn" class="btn btn-primary" (click)="changePassword()">Confirmer</button>
        </mat-card-actions>
    </mat-card>
</div>
